DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
NEXTAUTH_SECRET="replace-me"
NEXTAUTH_URL="http://localhost:3000"
EMAIL_FROM="memo@example.com"
EMAIL_SERVER="smtp://user:password@smtp.example.com:587"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
